@using Lab11.Models.MVC;
@model TVForm

<form method="post" asp-controller="TVPrice" asp-action="TVForm">
    <fieldset>
        @if(!Model.IsEditMode)
        {
            <legend>Create TV</legend>
        } else
        {
            <legend>Edit TV</legend>
        }

        <div class="form-group">
            <label class="col-form-label mt-4" for="name">Name</label>
            <input asp-for="@Model.Tv.Name" type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4" for="brand">Brand</label>
            <input asp-for="@Model.Tv.Brand" type="text" class="form-control" id="brand">
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4" for="model">Model</label>
            <input asp-for="@Model.Tv.Model" type="text" class="form-control" id="model">
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4" for="price">Price</label>
            <input asp-for="@Model.Tv.Price" type="number" min="0" class="form-control" id="price">
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4" for="currency">Currency</label>
            <input asp-for="@Model.Tv.Currency" type="text" class="form-control" id="currency">
        </div>

        @if (Model.IsEditMode)
        {
            <div class="form-group visually-hidden">
                <label class="col-form-label mt-4" for="model">id</label>
                <input asp-for="@Model.Tv.Id" value="@Model.Tv.Id" type="text" class="form-control" id="id">
            </div>
            <div class="form-group visually-hidden">
                <label class="col-form-label mt-4" for="em">em</label>
                <input asp-for="@Model.IsEditMode" value="@Model.IsEditMode" type="text" class="form-control" id="em">
            </div>
        }

    </fieldset>
    <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>